:root {
  --joyous-color: #ab89e1;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
  margin-top: 20px;
}

.headerText {
  font-size: 20px;
  margin-bottom: 10px;
}

.columnContainer {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
}

.footerText {
  font-size: 18px;
  margin-top: 10px;
}

.item {
  padding: 10px;
}

.button {
  height: 200;
  width: 500;
  padding: '10px 20px';
  font-size: '22px';
  border-radius: '10px';
  background-color: 'blue';
  color: 'white';
  border: 'none';
  cursor: 'pointer';
}

.joyousO {
  display: block;
  width: 100px;
  
}

.joyousO:hover {
  width: 200px;
  transition: width 2s;
}

@keyframes smiley {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.frameLayout {
  position: relative;
  display: inline-block;
}

.frameLayout:hover {
  animation: smiley 2s linear infinite;
}

.frameLayout:hover .leftEye {
  opacity: 100%;
  transform: scale(1.5) translateY(400%);
  transition: 2s;
}

.frameLayout:hover .rightEye {
  opacity: 100%;
  transform: scale(1.5) translateY(400%);
  transition: 2s;
}

.leftEye, .rightEye {
  width: 10px;
  height: 10px;
  opacity: 0%;
  background-color: var(--joyous-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  transform: translateY(300%); 
}

.leftEye {
  left: calc(100% - 55px); 
}

.rightEye {
  left: calc(50% + 5px); 
}